.auto-container{
	text-align:center;
}

#selected-cows{
	padding: 10px;
}

#process-bar-description{
	padding-top: 50px;
}

#progress-sensors-bar {
	width:50%;
	left:24%;
	margin:10px;
	display:none;
}

#process-description{
	padding: 20px;
}

#rigth-content {
}