.auto-container{
	text-align:center;
}

#selected-cows{
	padding: 10px;
}

#process-bar-description{
	padding-top: 50px;
}

#progress-sensors-bar {
	width:50%;
	left:24%;
	margin:10px;
	display:none;
}

#process-description{
	padding: 4%;
}

/** Buttons Bar **/
.buttons-bar {
	width: 100%;
}

.buttons-bar .left-buttons-bar{
	float: left;
	width: 12%;
}

.buttons-bar .center-buttons-bar{
	width: 76%;
	float: left;
}

.buttons-bar .right-buttons-bar{
	float:left;
	width: 5%;
}

#alertMessage {
	border-color: #d6e9c6;
	color: #468847;
}

.alert-message{
	background-color: #f2dede;
}

#danger-cow{
	background-color: #d2322d;
}

#danger-cow .hover{
	background-color: #d19a9a;
}

.reference {
	float: right;
	width: 200px;
}
.reference .rectangule{
	background-color: #d2322d;
	border: 1px solid;
	width: 20px;
	display: inline;
	height: 20px;
	float: left;
}